* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainpage_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}


.main_class {
    flex: 1;
    /*remaining empty place it will take, gives even space to page */
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    /* padding: 90px 0 180px 0; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
}

.main_class>h2 {

    margin-bottom: 160px;
    padding-bottom: 0;
    font-size: 40px;
}

/* Header content start*/

.header_content {

    width: 100%;
    background-color: rgb(245, 5, 173);
}

.header_content>nav {


    max-width: 1440px;
    margin: 0 auto;
    pad: 40px;
    background-color: rgb(245, 5, 173);
    height: 80px;
    display: flex;
    align-items: center;

    gap: 15px;

}

.header_content>nav>h1 {

    color: rgba(255, 255, 255, 1);
    font-size: 40px;
}

/* Header content end */

/* popup container */
.popup_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    /* z-index: 1000; */
    z-index: 9999;
    background-color: rgba(172, 71, 135, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Helper class */
.d-none {

    display: none !important;
}

.popup_card {

    /* width: 90vw; */
    width: 80%;
    height: 75vh;
    max-width: 850px;
    opacity: 1;
    /* gap: 20px; */
    border-radius: 40px;
    padding: 60px 40px;

    background-color: rgb(245, 5, 173);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    /* within width and height : boxsizing borderbox */
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}

/* tab press highlight the button screen */
.photo-card:focus-visible {
    outline: 6px solid rgb(245, 5, 173);
    outline-offset: 7px;
}


/* popup header section  */
.popup-header {
    display: flex;
    justify-content: space-between;

    font-size: 24px;
    font-family: Figtree;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;

    line-height: 100%;

    /* vertical-align: middle; */
    margin-bottom: 16px;
}

/* close the popup */
.close-btn {
    cursor: pointer;
    font-size: 24px;
}


.popup-body img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin-top: 0;
}

.popup-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 50px;
}

/* to not move the arrows */
#photo-counter {
    min-width: 60px;
}

.arraw-btn {

    background-color: black;
    background-size: auto;
    color: red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    /* opacity: 10%; */
    font-size: 34px;
    cursor: pointer;

    font-weight: 700;


    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.arraw-btn img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.arraw-btn:hover {
    background-color: black;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

/* Album Photos container */
#content {

    width: 100%;

    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

/* Prati Photo Card Styling */
.photo-card {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border: 2px solid #ddd;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

/* Mouse hover chesinappudu slight zoom avvadaniki */
.photo-card:hover {
    transform: scale(1.15);
}

/* footer content start */

.footer_content {

    margin: 0 auto;
    background-color: rgb(245, 5, 173);
    height: 130px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.footer_content p {

    color: white;
    margin: 0;
}

.footer_first {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.footer_second {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* mediaquery for responsive screen */

@media (min-width: 767px) and (max-width: 1024px) {

    .popup_card {

        /* width: 90vw; */
        width: 100%;
        height: 65vh;
        max-width: 750px;

    }

    .popup-body img {
        max-width: 100%;
        max-height: 100%;

    }


}


@media (min-width: 630px)and (max-width: 768px) {
    .popup_card {
        width: 90%;
        height: 55vh;
        max-width: 550px
    }

    /* 2 columns */
}


@media(min-width: 420px) and (max-width: 629px) {
    .popup_card {
        width: 80%;
        height: 45vh;
        max-width: 500px;
        /* min-height: 310px; */
    }

}


@media (min-width:320px) and (max-width: 419px) {
    .popup_card {
        width: 80%;
        height: 35vh;
        max-width: 320px;
        /* min-height: 310px; */
    }

}